<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Word2Func</title>
        <script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    </head>
    <body>
        <div id="mount_react">
        </div>
        <span>{{ urls }}</span>
        <script type="text/babel" src="static/react_main.js"></script>
    </body>
</html>
