<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Word2Func</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
        <script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="mountReact">
            </div>
        </div>
        <script src="static/CONSTANTS.js"></script>
        <script type="text/babel" src="static/react_main.js"></script>
    </body>
</html>
